{% extends "layout.html" %}
{% block table %}


<div class="bg-white p-8  w-full">

  <div class=" flex items-center justify-between pb-6">

    <div>
      <h2 class="text-gray-600 font-semibold">Email recibidos</h2>
      <span class="text-xs">Email recibidos con recibos adjuntos</span>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex bg-gray-50 items-center p-2 rounded-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd" />
        </svg>
        <input class="bg-gray-50 outline-none ml-1 block " type="text" name="" id="" placeholder="Buscar...">
      </div>

      <div class="lg:ml-40 ml-10 space-x-8">
          <a class="bg-gray-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer" href="additem.html">Agregar</a>
      </div>
    </div>

  </div>


    <div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table id="table"class="min-w-full leading-normal">
          <thead>
            <tr>
                {% for key in employee["keys"] %}
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">{{key}}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
                {% for item in employee["items"] %}
                <tr>
                    {% for key in employee["keys"] %}
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"><p class="text-gray-900 whitespace-no-wrap">{{item[key]}}</p></td>
                    {% endfor %}   
                </tr>
                {% endfor %}
          </tbody>
        </table>
        <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">

            <span id = "state-show-table" class="text-xs xs:text-sm text-gray-900">Mostrando del {{employee["item_start"]}} al {{employee["item_fin"]}} de {{employee["total_items"]}} elementos. </span>
            <div class="inline-flex mt-2 xs:mt-0">

                {% if employee["has_previous"] %}
                    <a id="previous_table" class="text-sm text-gray-50 transition duration-150 font-semibold py-2 px-4 rounded-l bg-blue-600 hover:bg-gray-500" href="{{employee['has_previous']}}">Anterior</a>
                {% else %}
                    <a id="previous_table" class="text-sm text-gray-50 transition duration-150 font-semibold py-2 px-4 rounded-l bg-gray-400">Anterior</a>
                {% endif %}
                &nbsp; &nbsp;

                {% if employee["has_next"] %}
                    <a id="next_table" class="text-sm text-gray-50 transition duration-150 font-semibold py-2 px-4 rounded-r bg-blue-600 hover:bg-gray-500" href="{{employee['has_next']}}">Siguiente</a>
                {% else %}
                    <a id="next_table" class="text-sm text-gray-50 transition duration-150 font-semibold py-2 px-4 rounded-r bg-gray-400">Siguiente</a>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

{% endblock %}